.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  background-color: oklch(14.5% 0 0deg);
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.px-8 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.text-6xl {
  font-size: 3.75rem;
}

.text-white {
  color: oklch(100% 0 0deg);
}

.text-black {
  color: oklch(0% 0 0deg);
}

.bg-background {
  background-color: oklch(100% 0 0deg);
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
