@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: ui-monospace, sfmono-regular, menlo, monaco, consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-serif: ui-serif, georgia, cambria, 'Times New Roman', times, serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.5rem;
  --background: oklch(98.18% 0.0054 95.0986deg);
  --foreground: oklch(34.38% 0.0269 95.7226deg);
  --card: oklch(98.18% 0.0054 95.0986deg);
  --card-foreground: oklch(19.08% 0.002 106.5859deg);
  --popover: oklch(100% 0 0deg);
  --popover-foreground: oklch(26.71% 0.0196 98.939deg);
  --primary: oklch(61.71% 0.1375 39.0427deg);
  --primary-foreground: oklch(100% 0 0deg);
  --secondary: oklch(92.45% 0.0138 92.9892deg);
  --secondary-foreground: oklch(43.34% 0.0177 98.6048deg);
  --muted: oklch(93.41% 0.0153 90.239deg);
  --muted-foreground: oklch(60.59% 0.0075 97.4233deg);
  --accent: oklch(92.45% 0.0138 92.9892deg);
  --accent-foreground: oklch(26.71% 0.0196 98.939deg);
  --destructive: oklch(19.08% 0.002 106.5859deg);
  --destructive-foreground: oklch(100% 0 0deg);
  --border: oklch(88.47% 0.0069 97.3627deg);
  --input: oklch(76.21% 0.0156 98.3528deg);
  --ring: oklch(61.71% 0.1375 39.0427deg);
  --chart-1: oklch(55.83% 0.1276 42.9956deg);
  --chart-2: oklch(68.98% 0.1581 290.4107deg);
  --chart-3: oklch(88.16% 0.0276 93.128deg);
  --chart-4: oklch(88.22% 0.0403 298.1792deg);
  --chart-5: oklch(56.08% 0.1348 42.0584deg);
  --sidebar: oklch(96.63% 0.008 98.8792deg);
  --sidebar-foreground: oklch(35.9% 0.0051 106.6524deg);
  --sidebar-primary: oklch(61.71% 0.1375 39.0427deg);
  --sidebar-primary-foreground: oklch(98.81% 0 0deg);
  --sidebar-accent: oklch(92.45% 0.0138 92.9892deg);
  --sidebar-accent-foreground: oklch(32.5% 0 0deg);
  --sidebar-border: oklch(94.01% 0 0deg);
  --sidebar-ring: oklch(77.31% 0 0deg);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, georgia, cambria, 'Times New Roman', times, serif;
  --font-mono: ui-monospace, sfmono-regular, menlo, monaco, consolas, 'Liberation Mono', 'Courier New', monospace;
  --shadow-color: oklch(0% 0 0deg);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0deg 0% 0% / 5%);
  --shadow-xs: 0 1px 3px 0px hsl(0deg 0% 0% / 5%);
  --shadow-sm: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 1px 2px -1px hsl(0deg 0% 0% / 10%);
  --shadow: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 1px 2px -1px hsl(0deg 0% 0% / 10%);
  --shadow-md: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 2px 4px -1px hsl(0deg 0% 0% / 10%);
  --shadow-lg: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 4px 6px -1px hsl(0deg 0% 0% / 10%);
  --shadow-xl: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 8px 10px -1px hsl(0deg 0% 0% / 10%);
  --shadow-2xl: 0 1px 3px 0px hsl(0deg 0% 0% / 25%);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(26.79% 0.0036 106.6427deg);
  --foreground: oklch(80.74% 0.0142 93.0137deg);
  --card: oklch(26.79% 0.0036 106.6427deg);
  --card-foreground: oklch(98.18% 0.0054 95.0986deg);
  --popover: oklch(30.85% 0.0035 106.6039deg);
  --popover-foreground: oklch(92.11% 0.004 106.4781deg);
  --primary: oklch(67.24% 0.1308 38.7559deg);
  --primary-foreground: oklch(100% 0 0deg);
  --secondary: oklch(98.18% 0.0054 95.0986deg);
  --secondary-foreground: oklch(30.85% 0.0035 106.6039deg);
  --muted: oklch(22.13% 0.0038 106.707deg);
  --muted-foreground: oklch(77.13% 0.0169 99.0657deg);
  --accent: oklch(21.3% 0.0078 95.4245deg);
  --accent-foreground: oklch(96.63% 0.008 98.8792deg);
  --destructive: oklch(63.68% 0.2078 25.3313deg);
  --destructive-foreground: oklch(100% 0 0deg);
  --border: oklch(36.18% 0.0101 106.8928deg);
  --input: oklch(43.36% 0.0113 100.2195deg);
  --ring: oklch(67.24% 0.1308 38.7559deg);
  --chart-1: oklch(55.83% 0.1276 42.9956deg);
  --chart-2: oklch(68.98% 0.1581 290.4107deg);
  --chart-3: oklch(21.3% 0.0078 95.4245deg);
  --chart-4: oklch(30.74% 0.0516 289.323deg);
  --chart-5: oklch(56.08% 0.1348 42.0584deg);
  --sidebar: oklch(23.57% 0.0024 67.7077deg);
  --sidebar-foreground: oklch(80.74% 0.0142 93.0137deg);
  --sidebar-primary: oklch(32.5% 0 0deg);
  --sidebar-primary-foreground: oklch(98.81% 0 0deg);
  --sidebar-accent: oklch(16.8% 0.002 106.6177deg);
  --sidebar-accent-foreground: oklch(80.74% 0.0142 93.0137deg);
  --sidebar-border: oklch(94.01% 0 0deg);
  --sidebar-ring: oklch(77.31% 0 0deg);
  --radius: 0.5rem;
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, georgia, cambria, 'Times New Roman', times, serif;
  --font-mono: ui-monospace, sfmono-regular, menlo, monaco, consolas, 'Liberation Mono', 'Courier New', monospace;
  --shadow-color: oklch(0% 0 0deg);
  --shadow-opacity: 0.1;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0deg 0% 0% / 5%);
  --shadow-xs: 0 1px 3px 0px hsl(0deg 0% 0% / 5%);
  --shadow-sm: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 1px 2px -1px hsl(0deg 0% 0% / 10%);
  --shadow: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 1px 2px -1px hsl(0deg 0% 0% / 10%);
  --shadow-md: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 2px 4px -1px hsl(0deg 0% 0% / 10%);
  --shadow-lg: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 4px 6px -1px hsl(0deg 0% 0% / 10%);
  --shadow-xl: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 8px 10px -1px hsl(0deg 0% 0% / 10%);
  --shadow-2xl: 0 1px 3px 0px hsl(0deg 0% 0% / 25%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground tracking-normal;
  }

  ::view-transition-old(root),
  ::view-transition-new(root) {
    mix-blend-mode: normal;
    animation: none;
  }
}
